# Java
/target
*.class

# Maven
log/
target/
*.jar
*.war
*.ear
hs_err_pid*

# Eclipse
.project
.classpath
.settings/

# IntelliJ IDEA
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# OS Files
.DS_Store

# Logs
*.log

# Spring Boot
!application.yml

# Docker
*.log
*.db

# Misc
*.swp
*~